@import url('https://fonts.googleapis.com/css?family=Playfair+Display:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');
/*------------------------------------Colors*/

/*------------------------------------Utils*/

.d-inline-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

.d-block {
    display: block;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.uppercase {
    text-transform: uppercase;
}

/*----------------------------General--Utils-*/

.square {
    height: 50px;
    width: 50px;
    
}
button p {
    width: 50px;
}

h1, h2,h3,h4,h5,h6 {
    font-family: "Playfair Display", sans-serif;    
}

h1 {
    margin-top: 10px;
}
/*------------------------------------Header*/

body, html{
    height: 100%;
}

header {
    position: fixed;
    min-height: 40px;
    width: 100%;
    background-color: #f4f4f4;
    z-index: 1200;
    
}

header .d-inline-block {
    width: inherit;
}

.presentation {
    width: 33.3%;
    padding: 0 0 9px 0;
    margin-bottom 9px;
}

.footer-element,
.head-element {
    width: 100%;
    padding-right: 25px;
}

.head-element {
    padding-top: 25px;
}

.head-element span {
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 16px  
}

.footer-element span {
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 12px   
}

.footer-element a,
.head-element a {
    text-decoration: none;
    color: #525252;
    border-bottom: 0px solid gold;

}

.footer-element a:hover,
.head-element a:hover {
    color: black;
    border-bottom: 1px solid gold;
    margin-bottom:-1px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    
}


/*-----------------------------------Section*/

section {
   padding: 80px 0 20px 0; 
   background: url(https://c.pxhere.com/photos/e9/90/photo-74940.jpg!d);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}


/*------------------------------------Footer*/

footer {
    padding: 15px 0 15px 0px;
    box-sizing:border-box;
    min-height: 50px;
    width: 100%;
    background-color: #f4f4f4;    
}
