@import url('https://fonts.googleapis.com/css?family=Playfair+Display:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');
/*----------------------------------Colors--*/

.bg-color-header {
    background-color: #c3c3c3;
}

.bg-color-gold {
    background-color: gold;
}

.bg-color-inverse {
    background-color: #525252;
}
/*----------------------------------Utils--*/

.d-inline-block {
    display: inline-block;
}

.d-none {
    display: none;
}

.d-inline {
    display: inline;
}

.d-block {
    display: block;
}

.d-table {
    display: table;
}

.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.uppercase {
    text-transform: uppercase;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.bolder {
    font-weight: 600;
}

.spacer {
    margin-top: 20px;
    margin-bottom: 10px;
}

/*----------------------------General--*/

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

button p {
    width: 50px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display", sans-serif;    
}

p {
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
}

span {
  line-height: 1.6;  
}


.custom-underline {
    min-height: 1px;
    border-bottom: 1.5px solid gold;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}


.centered-block-in-grid {
    min-width: 50%;
    width: 50%;
    margin: 0 auto;
}

video::-webkit-media-text-track-display {
    -webkit-transform: translateY(-3em);
    transform: translateY(-3em);
}
/*-----------------------------Header--*/

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    max-height: 55px;
    width: 100%;
    padding: 10px 0 4px 0;
}

header .d-inline-block {
    width: inherit;
}

.row {
    margin: 0;
}

.logo a > img {
    display: block;
    width: 120px
}


.btn-custom-header-menu {
    display: block;
    position: relative;
    float: left;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 4px;
}

#nav {
    display: none;
    position: absolute;
    background-color: #c3c3c3;
    left: -15px;
    top: -34px
}
#nav ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    min-width: 100px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 4px;
}

#nav ul li{
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

.btn-custom-header-menu ~ input:checked + #nav{
    display: block;
    top: 38px;
    z-index: 2;
    
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.whatis {
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-top: 8px;
}

/*-------------------------header--footer-elements--*/


.head-element {
    width: 100%;
}

.head-element {
    padding-top: 5px;
}

.head-element span {
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    font-size: 16px  
}


.whatis a,
.head-element a,
.footer-element a {
    text-decoration: none;
    color: #525252;
    border-bottom: 0px solid gold;

}

.whatis a:hover,
.head-element a:hover,
.footer-element a:hover{
    color: black;
    border-bottom: 1.5px solid gold;
    margin-bottom:-1px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    
}


/*---------------------------------Section--*/

.first-section {
   padding: 80px 0 25px 0; 
   background: url(https://c.pxhere.com/photos/e9/90/photo-74940.jpg!d);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.panel {
    margin-top: 20px;
}

.panel-custom-heading,
.panel {
   background-color: rgba(211,211,211,0.7);
}

.panel-body {
    background-color: rgba(244,244,244, 0.6); 
}

.panel-custom-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.btn-rounded-shiny {
    display: inline-block;
    height: 70px;
    width: 70px;
    color:#525252;
    margin-bottom: 0;
    font-family: "Playfair Display", sans-serif;  
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1.5px solid gold;
    border-radius: 50%;
}

.signup {
    text-decoration: none;
    color: #525252 ;
}

.signup:hover {
    text-decoration: none;
}

.btn-rounded-shiny:hover {
    text-decoration: none;
    color: black;
    
    -webkit-box-shadow: inset 10px 10px 148px 10px rgba(255,215,0,0.2), 10px 10px 148px 10px rgba(255,215,0,0.8);
    -moz-box-shadow: inset 10px 10px 148px 10px rgba(255,215,0,0.2), 10px 10px 148px 10px rgba(255,215,0,0.8);
    box-shadow: inset 10px 10px 148px 10px rgba(255,215,0,0.2), 10px 10px 148px 10px rgba(255,215,0,0.8);
    
    transition: all 5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.custom-wrap-border {
    display: inline-block;
    background-color: rgba(211,211,211,0.7);
    vertical-align: middle;
    border: 1.5px solid gold;
    border-radius: 10px;
}

.custom-wrap-border a {
    font-family: "Playfair Display", sans-serif;  
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    color: #525252;
    min-width: 120px;
    margin-top: 14px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

.second-section {
    padding: 30px 0 25px 0;
    background-color: gold;
    min-height: 400px;
}

.custom-line {
    height: 1.5px;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.4);
    
}
.embedded-wrapper{
    min-width: 300px;
    width: 50%;
}

.embedded-content-big {
    height: 175px;
    width:300px;
    display: block;
    margin: 0 auto;
    
}

.third-section {
    padding: 0 0 30px 0;
    min-height: 300px;
}

.comments {
    padding: 20px 0 40px 0; 
}

.article {
    padding-left: 20px;
}

.follow-us {
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 18%;
    min-height: 50px;
    width: 295px;
}

.follow-us div span {
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.d-table-cell a {
    text-decoration: none;
    color: #333;
}

.fa {
    margin-left: 5px;
    vertical-align: middle;
}


/*----------------------------------Footer--*/

.footer {
    padding: 40px 0 15px 0px;
    box-sizing:border-box;
    min-height: 50px;
    width: 100%;
    background-color: #c3c3c3;    
}

.footer-lg ul {
    display: none;
}

.footer-title-position {
    display: none;
    margin-bottom: 4px;
}

.footer-title-border {
    border-bottom: 1.2px solid rgba(82, 82, 82, 0.9);
}

.footer-element {
    min-width: 100px;
    width: 100%;
}

.footer-element-title {
    display: inline-block;
    border: 1px solid black;
    box-sizing: content-box;
    text-align: center;
    border-radius: 4px;
    color: #c3c3c3; 
    max-width: 250px;
    height: 24px;
    position:relative;
}

.custom-footer-nojs-btn {
    cursor: pointer;
}

input[type=checkbox]:checked + ul{
    display: block;
}

.language-select span,
.footer-element span,
select,
option{
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    font-size: 14px 
}

.footer-element span {
    padding-left: 5px;
}

.language-select span {
    padding-left: 0;
}

.text-alignment {
    text-align: center;
}

.custom-select {
    display: block;
    margin:0 auto;
    margin-bottom: 4px;
    min-width: 75px;
    max-width: 85px;
    width: 45%;
    height: 35px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #525252;
    background-color: rgba(200, 200, 200, 0.5);
    background-image: none;
    border: 1px solid #525252;
    border-radius: 4px;
}
/*----------------------------------Media-Queries--*/


@media (min-width: 767px) and (max-width:991px){
    
    .custom-footer-nojs-btn{
        cursor: default;
    }

    .footer-lg ul {
        display: block;
        min-height: 80px;
    }
}

@media (min-width: 992px){

    .logo a > img {
        margin-left: 20px;
        width: 120px
    }
    
    .whatis {
        margin-right: 20px;
    }
    
    .btn-custom-header-menu {
        display: none;
    }
    
    .custom-footer-nojs-btn{
        display: none;
        cursor: default;
    }
    
    #nav {
        display: block;
        position: static;
    }
    
    #nav ul {
        padding-left: 0;
        list-style: none;
        border: 0px solid transparent;
    }
    
    #nav ul li {
        display: inline-block;
        border-bottom: 0px solid transparent;
    }
    
    #home {
        float: left;
        
    }
    
    #support {
        float: right;
    }
    
    .head-element {
        padding-top: 18px;
    }
    
    .panel {
        margin-top: 0px;
    }
    
    .footer-lg {
        width: 50%;
        margin: 0 auto;
    }
    
    .footer-lg ul {
        display: block;
    }
    
    .footer-element span {
        padding-left: 0;
    }
    
    .footer-element-title {
        border: none;
        box-sizing: content-box;
        text-align: left;
        border-radius: none;
        background-color: inherit;
        color: inherit; 
    }
    

    .footer-title-position {
        display: inline-block;
    }
    
    .footer-lg-title {
        font-family: "Playfair Display", sans-serif;  
        font-size: 14px;
        line-height: 1.42857143;
        color: #525252;
    }
    
    .text-alignment {
        text-align: left;
    }
    
    .custom-select {
        margin: 0;
    }

}


@media (min-width: 1200px) {
    
    .presentation {
        width: 30%;
    }
    .custom-wrap-border {
        opacity: 0;
    }
    .sign-in-wrap:hover .custom-wrap-border{
        opacity: 1;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    }
}