.main-section {
    height: calc(100% + 40vh);
    min-height: 720px;
    padding: 70px 0 25px 0;
    background: url(../images/StockSnap_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-spacer {
    min-height: 365px;
}

.control-menu-header {
    height: 10px;
}

.control-menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    background-color: transparent;
    width: 100%;
    border: none;

}

.radio-menu {
    background-color: rgba(211,211,211);
    color: #525252;
    border: 1.5px solid gold;
    width: 60px;
    height: 50px;
}

input[type=radio]:checked + .btn-custom-control-menu {
    background-color: #525252;
    color: rgba(211,211,211);
}

input[type=radio]:checked + .btn-custom-control-menu + .side-menu {
    display: block;
    width: 85%;
    height: 285px;
    top: 90px;
    left: 50%;
    margin-left: -42.5%;
} 

input[type=radio]:checked + .btn-custom-control-menu + #invitation-wrapper {
    display: block;
    width: 100%;
    height: 285px;
    top: 90px;
    left: 50%;
    margin-left: -50%;
} 

label.btn-custom-control-menu {
    white-space: normal;
    font-family: "Playfair Display", sans-serif;
    font-size: 10px;
    margin: 0;
    line-height: 45px;
}

label.vertical-centered-multiple-line {
    line-height: 2;
}

.side-menu {
    display:none;
    position: absolute;
    width: 0;
    height: 0;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    z-index: 99999;
    overflow: auto;
    scroll-behavior: smooth;
    background-color: rgb(211,211,211);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1.5px solid gold;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.table-sm {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.table-sm thead tr th,
.table-sm tbody tr th {
    text-align: center;
}

.scroll-helper {
   border-bottom: 1.5px solid gold;
   width: 70%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
}

.scroll-helper ul li a {
    text-decoration: none;
    color: #525252;
}

.scroll-helper ul li a p {
    font-size: 12px;
}

#invitation-wrapper {
    display:none;
    position: absolute;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    z-index: 99999;
    overflow: hidden;
    height: 313px; 
    border: none;
    background-color: transparent;
    box-shadow: none
}

#invitation-wrapper> table> tbody> tr> td {
    
    border: none;
}

.invitation-table {
    width: 50%;
    max-width: 350px;
    margin: 0 auto;
    min-width: 295px;
}

.invitation-card {
    display: inline-block;
    width: 150px;
}

.td-text-alignment-middle {
    vertical-align: middle !important;
}

.label-sm {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: #525252;
    font-weight: 900;
}

.content-wrapper {
    margin-top: 20px;
}

.content-wrapper label {
    display: block;
}

.content-wrapper img {
    width: 150px;
}

.table-wrapper {
    margin-top: 40px;
}

.table-wrapper-spacer {
    margin-top: 20px;
}

.table-row .links-row {
    margin-top: 40px;
} 

.circle-online {
    color: green;
}

.circle-offline {
    color: red;
}

.gallery-item {
    height: 200px;
    vertical-align: middle !important;
}

.custom-fa-responsive-x-big {
    margin-left: 20px !important;
    font-size: 8em;    
}

.custom-fa-responsive-x-small {
    font-size: 2em;
}

/*----------------dialog-box-----------------*/
#all-tables-label {
    z-index: 15;
}

#your-table-label {
    z-index: 12;
}

input[type=radio]:checked + .dialog-box-menu + .dialog-box {
   display: block; 
}

#all-tables:checked + #all-tables-label {
   z-index: -1 
}

.menu-spacer-dialog-box {
    min-height: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.dialog-box-menu {
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -65px;
    background-color: rgb(211,211,211);
    color: #525252;
    font-family: "Playfair Display", sans-serif;
    font-size: 12px;
    border: 1.5px solid gold;
    width: 130px;
    height: 45px;
    line-height: 45px;
    
}

.vertical-centered-multiple-line {
    line-height: 30px;
    vertical-align: middle;
    font-size: 12px 
}
    
.dialog-box {
    display: none;
    position: absolute;
    width: 100%;
    margin-left: -50%;
    top: 20%;
    left: 50%;
    height: 60vh;
    overflow-y: scroll;
    text-align:center;
    border: 2px solid rgba(244,244,244, 1);
    background-color: rgba(244,244,244, 0.7);
    border-radius: 10px;
    margin-top: 15px;
    z-index: 10;
}

#message-panel {
   border-radius: 10px;

}

.select-icon {
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
}

.select-icon > span {
    font-family: "Playfair Display", sans-serif; 
}

.user-placeholder {
    width: 105px;
}

.user-placeholder img {
    width: 85px;
}

.user-label {
    color: #006400;
}

.message-box {
    width: 50vw;
    background-color: rgba(244,244,244,0.8);
}

.message-box p {
    font-family: "Roboto", sans-serif;
    vertical-align: top;
    text-align: left;
}

.message-box-shared-content {
    background-color: rgba(244,244,244,0.8);
    min-height: 100px;
    min-width: 283px;
}

.shared-content,
.shared-content-sm {
    height: 100%;
    width: 100%;
}

.shared-content-sm {
    vertical-align: bottom;
    height: 20vh;
}

/*---------------media-queries--------------*/
@media (max-width:359px) {
    
    label.btn-custom-control-menu {
        font-size: 9px;
    }
    
    .radio-menu {
        width: 54px;
    }
}
@media (min-width:440px) and (max-width:770px) {

}

@media (min-width:767px){
    
    .main-section {
        height: 100%;
    }
    
}

@media (min-width: 991px){


}

@media (min-width: 1200px){
    

    .btn {
            padding: 6px 12px; 
    }
    
    .btn-custom-control-menu {
        background-color: rgba(211,211,211);
        color: #525252;
        width: 100px;
        height: 55px;
        border: 1.5px solid gold;
    }
    
    .btn-custom-control-menu .vertical-centered-multiple-line {
        line-height: 1.5;
        vertical-align: middle;
    }
    
    .btn-custom-control-menu p {
        
        font-size: 14px
    }
    
    label.vertical-centered-multiple-line {
        line-height: 1.7;
    }
    
    label.btn-custom-control-menu {
        font-size: 14px;
    }
    
    .content-wrapper {
        margin-top: 20px;
    
    }    

    .table-wrapper {
        margin-top: 0px;
    }
    
    input[type=radio]:checked + .btn-custom-control-menu + #invitation-wrapper {
        display: block;
        width: 100%;
        height: 350px;
        top: 60px;
        left: 50%;
        margin-left: -50%;
    }
    
    .invitation-table {
        width: 50%;
        max-width: 500px;
        height: 300px;
        margin: 0 auto;
        min-width: 295px;
    }
    
    .invitation-card {
        width: 200px
    }
    
    .invitation-card-options {
        border-spacing: 5px 0px;
    }
    
    .custom-fa-responsive-x-small {
        font-size: 4em;
    }
    
    .menu-spacer {
        min-height: 400px;
    }
    
    .user-placeholder img{
        width: 100px;
    }
    
    .dialog-box-menu {
        width: 135px;
        font-size: 14px;
        padding: 0;
    }
    
}