.main-section {
    min-height: 600px;
    padding: 40px 0 25px 0;
    background: url(/assets/images/StockSnap_MLZK9UI7Y7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-spacer {
    min-height: 330px;
}

.control-menu-header {
    height: 10px;
}

.control-menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    background-color: transparent;
    width: 100%;
    border: none;

}

.btn {
    padding: 0;
}

.btn-custom-control-menu {
    background-color: rgba(211,211,211);
    color: #525252;
    border: 1.5px solid gold;
    width: 60px;
    height: 50px;
}

input[type=radio]:checked + .btn-custom-control-menu {
    background-color: #525252;
    color: rgba(211,211,211);
}

input[type=radio]:checked + .btn-custom-control-menu + .side-menu {
    display: block;
    width: 85%;
    height: 285px;
    top: 60px;
    left: 50%;
    margin-left: -42.5%;
} 

input[type=radio]:checked + .btn-custom-control-menu + #invitation-wrapper {
    display: block;
    width: 100%;
    height: 285px;
    top: 60px;
    left: 50%;
    margin-left: -50%;
} 

.btn-custom-control-menu .vertical-centered-multiple-line {
    line-height: 2;
    vertical-align: middle;
}

.btn-custom-control-menu p {
    white-space: normal;
    font-size: 10px;
    margin: 0;
    line-height: 40px;
}

.side-menu {
    display:none;
    position: absolute;
    width: 0;
    height: 0;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    z-index: 99999;
    overflow: auto;
    scroll-behavior: smooth;
    background-color: #c3c3c3;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1.5px solid gold;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.table-sm {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.table-sm thead tr th,
.table-sm tbody tr th {
    text-align: center;
}

.scroll-helper {
   border-bottom: 1.5px solid gold;
   width: 70%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
}

.scroll-helper ul li a {
    text-decoration: none;
    color: #525252;
}

.scroll-helper ul li a p {
    font-size: 12px;
}

#invitation-wrapper {
    display:none;
    position: absolute;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    z-index: 99999;
    overflow: hidden;
    height: 313px; 
    border: none;
    background-color: transparent;
    box-shadow: none
}

.invitation-table {
    width: 50%;
    max-width: 350px;
    margin: 0 auto;
    min-width: 295px;
}

.invitation-card {
    display: inline-block;
    width: 150px;
}

.td-text-alignment-middle {
    vertical-align: middle !important;
}

.label-sm > span {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: #525252;
}

.content-wrapper label {
    display: block;
}

.content-wrapper img {
    width: 150px;
}

.table-wrapper {
    margin-top: 40px;
}

.table-row .links-row {
    margin-top: 40px;
} 

.circle-online {
    color: green;
}

.circle-offline {
    color: red;
}

/*----------------dialog-box-----------------*/
#all-tables-label {
    z-index: 15;
}

#your-table-label {
    z-index: 12;
}

input[type=radio]:checked + .dialog-box-menu + .dialog-box {
   display: block; 
}

#all-tables:checked + #all-tables-label {
   z-index: -1 
}

.menu-spacer-dialog-box {
    height: 500px;
}

.dialog-box-menu {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -9%;
    background-color: rgb(211,211,211);
    color: #525252;
    border: 1.5px solid gold;
    width: 130px;
    height: 45px;
}

.dialog-box-menu .vertical-centered-multiple-line {
    line-height: 40px;
    vertical-align: middle;
    font-size: 12px;
}
    
.dialog-box {
    display: none;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left:-50%;
    height:calc(100% - 50px);
    overflow-y: scroll;
    text-align:center;
    border: 2px solid rgba(244,244,244, 0.6);
    border-radius: 10px;
    margin-top: 15px;
    z-index: 10;
}

#message-panel {
   border-radius: 10px;
   background-color: rgba(244,244,244, 0.7);
}

.select-icon {
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
}

.user-placeholder {
    width: 105px;
}

.user-placeholder img {
    width: 85px;
}

.user-label {
    color: rgba(34,139,34, 0.6);
}

.message-box {
    width: 50vw;
    background-color: rgba(244,244,244,0.8);
}

.message-box p {
    font-family: "Roboto", sans-serif;
    vertical-align: top;
    text-align: left;
}

.message-box-shared-content {
    background-color: rgba(244,244,244,0.8);
    min-height: 100px;
    min-width: 283px;
}

.shared-content,
.shared-content-sm {
    height: 100%;
    width: 100%;
}

.shared-content-sm {
    vertical-align: bottom;
    height: 20vh;
}

/*---------------media-queries--------------*/
@media (min-width: 991px){
    
    input[type=radio]:checked + .btn-custom-control-menu + #invitation-wrapper {
        display: block;
        width: 60%;
        height: 285px;
        top: 60px;
        left: 50%;
        margin-left: -30%;
    }
    
    input[type=radio]:checked + .btn-custom-control-menu + .side-menu {
        display: block;
        width: 60%;
        height: 250px;
        top: 60px;
        left: 50%;
        margin-left:-30%;
        overflow: initial;
    }

}
@media (min-width: 1200px){
    
    .btn {
            padding: 6px 12px; 
    }
    
    .btn-custom-control-menu {
        background-color: rgba(211,211,211);
        color: #525252;
        width: 105px;
        height: 55px;
        border: 1.5px solid gold;
    }
    
    .btn-custom-control-menu .vertical-centered-multiple-line {
        line-height: 1.5;
        vertical-align: middle;
    }
    
    .btn-custom-control-menu p {
        
        font-size: 14px
    }
    
    .content-wrapper {
        margin-top: 20px;
    
    }
    .table-wrapper {
        margin-top: 0px;
    }
    
    .invitation-card {
        width: 185px
    }
    
    .invitation-card-options {
        border-spacing: 5px 0px;
    }
    
    .menu-spacer {
        min-height: 375px;
    }
    
    .user-placeholder img{
        width: 100px;
    }
    
    .dialog-box-menu p {
        
        font-size: 14px;
    }
}